@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.socials
	padding: 0
	display: inline-block
	li
		display: inline-block
		list-style-type: none
		a
			display: block
			font-size: 16px
			text-align: center
			color: $light
			width: 30px
			height: 30px
			margin-right: 7px
			border: 1px solid $light
			transform: rotate(45deg)
			transition: all .5s ease
			i
				transform: rotate(-45deg)
			&:hover
				border-color: #dfd068
				color: #dfd068

header
	background-color: #444
	padding: 65px 0
	.main-menu
		float: right
		ul
			padding: 0
		li
			list-style-type: none
			display: inline-block
			margin-left: 55px
			&:first-child
				margin-left: 0
			a
				display: block
				text-transform: uppercase
				font-size: 12px
				letter-spacing: 4px
				color: $light
				transition: all .5s ease
				&:hover
					text-decoration: none
					color: #dfd068
	.mobile-menu
		display: none
		float: right
		height: 28px
		position: absolute
		top: 50%
		right: 15px
		margin-top: -14px
		&-button
			display: block
			color: $light
			text-transform: uppercase
			font-size: 12px
			letter-spacing: 1px
			border: 1px solid $light
			background-color: transparent
			border-radius: 4px
			transition: all .5s ease
			&:hover
				border-color: #dfd068
				color: #dfd068

@import "media"
