@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

section
	padding: 180px 0
	text-align: center
	.h2
		margin-top: 0
		margin-bottom: 100px
		font-size: 30px
		text-transform: uppercase
		letter-spacing: 10px
		color: #333

.btn
	display: inline-block
	padding: 20px 50px 20px 30px
	border: 1px solid $light
	text-transform: uppercase
	letter-spacing: 2px
	color: $light
	font-size: 12px
	font-weight: 300
	&:hover, &:focus
		text-decoration: none
		outline: 0
		color: #fff
	&:hover
		transform: scale(1.1)
	&::after
		content: "\f105"
		font-family: fontAwesome
		font-size: 20px
		padding-left: 10px
		line-height: 1
		position: absolute


.nopadding
	padding: 0

.socials
	padding: 0
	display: inline-block
	li
		display: inline-block
		list-style-type: none
		a
			display: block
			font-size: 16px
			text-align: center
			color: $light
			width: 30px
			height: 30px
			margin-right: 7px
			border: 1px solid $light
			transform: rotate(45deg)
			transition: all .5s ease
			i
				transform: rotate(-45deg)
			&:hover
				border-color: #dfd068
				color: #dfd068

header
	position: relative
	background-color: #444
	padding: 65px 0
	height: 100vh
	min-height: 480px
	background-image: url(../img/main-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.main-menu
		float: right
		ul
			padding: 0
		li
			list-style-type: none
			display: inline-block
			margin-left: 55px
			&:first-child
				margin-left: 0
			a
				display: block
				text-transform: uppercase
				font-size: 12px
				letter-spacing: 4px
				color: $light
				transition: all .5s ease
				&:hover
					text-decoration: none
					color: #dfd068
	.mobile-menu
		display: block
		float: right
		height: 28px
		position: absolute
		top: 50%
		right: 15px
		margin-top: -14px
		&-close
			display: none
			i
				position: fixed
				right: 245px
				border: 1px solid $light
				color: $light
				font-size: 20px
				border-radius: 4px
				padding: 3px 6px
				cursor: pointer
		&-button
			display: none
			color: $light
			text-transform: uppercase
			font-size: 12px
			letter-spacing: 1px
			border: 1px solid $light
			background-color: transparent
			border-radius: 4px
			transition: all .5s ease
			outline: none
	.mobile-nav
		overflow-y: scroll
		position: fixed
		top: 0px
		right: 0
		background-color: #111
		height: 100vh
		padding: 0 40px
		width: 230px
		right: -230px
		.h2
			text-transform: uppercase
			color: $light
			font-size: 25px
		img
			border-radius: 10em
		ul
			padding: 0
			margin-top: 15px
		li
			list-style-type: none
			a
				display: block
				text-transform: uppercase
				font-size: 12px
				letter-spacing: 4px
				color: $light
				transition: all .5s ease
				padding: 10px
				&:hover
					text-decoration: none
					color: #dfd068

	.header-content
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		.h1
			color: $light
			text-transform: uppercase
			text-align: center
			letter-spacing: 10px
			font-size: 60px
			margin-bottom: 0
			white-space: nowrap
		p
			font-size: 26px
			font-weight: 300
			letter-spacing: 6px
			text-align: center
			color: $light
			opacity: .3
			margin-top: 0
			white-space: nowrap
	.scroll-down-wrapper
		position: absolute
		bottom: 0
		padding-bottom: 10px
		left: 50%
		transform: translateX(-50%)
		.dot
			width: 26px
			color: $light
			font-size: 33px
			line-height: 6px
			border: 2px solid $light
			border-radius: 10em
			padding: 0px 7px 40px 7px
			display: block
			margin: 0 auto
		p
			text-transform: uppercase
			letter-spacing: 2px
			font-size: 12px
		.arrow
			display: block
			width: 16px
			height: 16px
			border-bottom: 1px solid $light
			border-right: 1px solid $light
			transform: rotate(45deg)
			margin: 0 auto
			margin-bottom: 20px

.introducing
	text-align: center
	background-color: #f3f3f3
	img
		width: 200px
		margin: 0 auto
		border: 8px solid #e7e7e7
		border-radius: 10em
		margin-bottom: 50px
	p
		color: #333

.projects
	.container-max-width
		max-width: 1400px
	.p-description-wrapper
		padding: 60px
		text-align: left
		font-weight: 300
		transition: background .7s ease
		.h3
			margin: 0
			text-transform: uppercase
			letter-spacing: 6px
			font-weight: 300
			font-size: 18px
		p
			margin: 0
		a
			color: $dark
			transition: color .7s ease-in
	.p-item-wrapper
		&:hover
			.showmore
				opacity: 1
				z-index: 10
			.p-description-wrapper
				background-color: $dark
				a
					color: $light
					text-decoration: none
		.showmore
			opacity: 0
			position: absolute
			z-index: 1
			max-width: 175px
			margin: 0 auto
			margin-top: -32px
			top: 50%
			left: 0
			right: 0
			transition: opacity .7s ease, transform 0.5s ease, z-index .7s ease
	.p-image-wrapper
		position: relative
		.img-responsive
			display: inline
			position: relative
			z-index: 5
	.more-projects
		margin-top: 60px
		color: $dark
		border-color: $dark
		transition: transform 0.5s ease

.all-projects-disable
	display: none

.items-popup
	color: $light

.proficiency
	background-color: #222
	.skills-wrapper
		margin-bottom: 75px
		.h2
			color: $light
		img
			margin-bottom: 30px
			height: 170px
			width: 170px
		span
			position: absolute
			font-size: 36px
			color: $light
			top: 55px
			left: 0
			right: 0
		p
			color: $light
			font-size: 14px
			font-weight: 300
			letter-spacing: 4px
			text-transform: uppercase



@import "media"
